.ly-title
  margin 0
  color c-black
  text-transform none
  font-weight bold
  font-family f-title
  font-variant small-caps
  font-size 2.5em
  border-top 5px double c-green
  border-bottom 5px double c-green

  &:hover
    background-color transparent
    color c-black

.ly-subheading
  color c-green
  text-transform none
  font-family f-heading-two
  font-style italic
  text-shadow 1px 1px rgba(c-green, 0.1)

.ly-section
  padding 20px
  background-color c-yellow-light
  margin 20px 0

@media only screen and (min-width: 768px)
  .ly-title
    font-size 4em
    border-top 8px double c-green
    border-bottom 8px double c-green

  .ly-main
    padding-left 225px
