.nv-item
  display block

  a
    display block
    padding 10px
    transition all 0.3s ease-out

    &:hover
      background-color c-yellow-strong
      color c-green

@media only screen and (min-width: 768px)
  .nv-item
    display inline-block
