.sb-sidebar
  position relative
  transition all 1.5s ease-out

@media only screen and (min-width: 768px)
  .sb-sidebar
    position absolute
    width 200px
    margin-top 20px
    margin-right 25px
    text-align right

    li
      display block

  .sb-container
    background-color rgba(c-sepia, 0.3)
    margin-bottom 25px
