.uv-clearfix:after
  content ' '
  display block
  visibility hidden
  clear both
  font-size 0
  height 0

.uv-left
  float left

.uv-right
  float right

.uv-hidden
  display none !important

.uv-highlight,
.uv-highlight code
  background-color c-yellow-strong
  transition background-color 1s ease-in-out
