section.ly-section.md-markdown
  :markdown
    # API Documentation

    Here's the API documentation for Taunus. If you've never used it before, we recommend going over the [Getting Started][1] guide before jumping into the API documentation. That way, you'll get a better idea of what to look for and how to put together simple applications using Taunus, before going through documentation on every public interface to Taunus.

    Foo

    [1]: /getting-started
