section.ly-section.md-markdown
  :markdown
    # Complementary Modules

    Taunus is a small library by MVC framework standards, sitting at **around 12kB minified and gzipped**. It is designed to be small. It is also designed to do one thing well, and that's _being a shared-rendering MVC engine_.

    Taunus can be used for routing, putting together controllers, models and views to handle human interaction. If you [head over to the API documentation][1], you'll notice that the server-side API, the command-line interface, and the `.taunusrc` manifest are only concerned with providing a conventional shared-rendering MVC engine.

    In the server-side you might need to do other things besides routing and rendering views, and other modules can take care of that. In the client-side, you might be used to your MVC framework of choice resolving everything on your behalf, from DOM manipulation and data-binding to hooking up with a REST API, and everywhere in between.

    `dominus`
    `xhr`
    `measly`

    [1]: /api
