section.ly-section.md-markdown
  :markdown
    # Performance Optimization

    Given that performance is one of the core values in both Taunus and User Experience, it deserved a first-class article on the site as well.

    TODO
