body
  word-wrap break-word
  overflow-x hidden
  overflow-y scroll
  width 93.75% // 300px on 320px
  max-width 1250px // otherwise sections become way too long
  margin 0 auto
  text-align center

main
  display inline-block
  text-align left
  width 100%

@media only screen and (min-width: 768px)
  main
    padding-bottom 25px
