a,
button,
input[type='submit']
  cursor pointer
  text-decoration none

a
  color c-orange
  font-weight bold
  transition all 0.3s ease-out

  &:hover
    text-decoration underline
    background-color c-yellow-strong
    color c-green
