thead th
  background-color c-green
  color #fff
  text-transform uppercase
  font-family f-heading


tbody tr:nth-child(even)
  background-color rgba(c-green, 0.5)

tbody tr:nth-child(odd)
  background-color rgba(c-green, 0.7)

tr
  border-width 3px
  border-style solid
  border-color c-green
  border-top none

thead tr
  border-top 3px solid c-green
