thead th
  background-color c-yellow-strong
  color c-red
  text-transform uppercase
  font-family f-heading

tbody tr:nth-child(even)
  background-color rgba(c-yellow-strong, 0.3)

tbody tr:nth-child(odd)
  background-color rgba(c-yellow-strong, 0.5)

tr
  border-width 3px
  border-style solid
  border-color c-yellow-strong
  border-top none

thead tr
  border-top 3px solid c-yellow-strong
