thead th
  background-color darken(c-green, 9%)

tbody tr:nth-child(even)
  background-color darken(c-green, 6%)

tbody tr:nth-child(odd)
  background-color darken(c-green, 3%)

tr
  border-width 3px
  border-style solid
  border-color c-green
  border-top none

thead tr
  border-top 3px solid c-green
