body
  font-family f-core
  background c-yellow-light
  color c-black

ul,
ol
  margin 0
  padding 0
  list-style-position inside

ul
  list-style-type disc

ul ul,
ul ol,
ol ul,
ol ol
  margin-left 5px

b,
strong,
  font-weight bold

i,
em,
  font-style italic

ins
  text-decoration none

del
  text-decoration line-through

input,
button
  border-radius 0

img
  max-width 100%
  border none

kbd
  display inline-block
  border 1px solid #ccc
  margin 0 0.1em
  padding 0.1em 0.6em
  line-height 1.4
  font-size 11px
  background-color #f7f7f7
  box-shadow 0 1px 0 #bbb, 0 0 0 2px #fff inset
  border-radius 3px
  color #333
  text-shadow 0 1px 0 #fff
  white-space nowrap

button,
.uv-button
  border none
  outline none
  background-color c-green
  color c-yellow-light
  padding 6px 8px
  font-size 1.2em

  &:hover
    background-color lighten(c-green, 20%)

@media only screen and (min-width: 768px)
  ul ul,
  ul ol,
  ol ul,
  ol ol
    margin-left 20px
